@import '../../styles/constants.scss';

.linkbutton {
  align-items: normal;
  border-color: $link-color;
  border-style: none;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  display: inline;
  font: inherit;
  perspective-origin: 0 0;
  text-align: start;
  transform-origin: 0 0;
  background-color: $link-color;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  &:focus {
      /* add outline to focus pseudo-class */
      outline-style: dotted;
      outline-width: 1px;
  }

  &:hover {
    background-color: darken($link-color, 3%);
  }

  &:active {
    background-color: darken($link-color, 10%);
  }
}
