.container {
  margin: 1em 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
}

.tryit {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  margin: 0.5em;
}

.hint_sentence {
  margin: 0.5em 0;

  > .hint {
      margin-left: 0.25em;
  }
}

.directlink {
  margin: 0.5em 0;
}

.message {
  margin: 0.5em 0;
  font-weight: normal;
}